@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Optional: Change titlebar separator color */
#navigator-toolbox{
	--chrome-content-separator-color: rgb(58, 58, 58) !important;
}

/* Resize left spacer on tab row */
.titlebar-spacer[type="pre-tabs"] {
    width: 20px !important;
	}

/* Resize right spacer on tab row */
.titlebar-spacer[type="post-tabs"] {
    width: 2px !important;
	}

/* No speaker icon on tabs */
.tab-icon-image {
	opacity: 1 !important;
	}
	
.tab-icon-overlay {
	display: none !important;
	}

/* Hide tab close button */
.tab-close-button {
	display: none !important;
	}

/* Hide tracking protection icon from address bar */
#tracking-protection-icon-container {
	display: none !important;
	}

/* Hide star icon from address bar */
.urlbar-page-action {
	display: none !important;
	}

/* Move edit bookmark panel to center of the screen */
#editBookmarkPanel {
	position: absolute !important;
	margin-top: 25px !important;
	margin-right: -50vw !important
	}

/* Hide windows controls (minimize, maximize, close) */
.titlebar-buttonbox-container {
	display: none !important;
	}

/* Disable fullscreen transition animation */
#navigator-toolbox[fullscreenShouldAnimate] {
	transition: none !important;
	}
